#Created by Ziggie, charge.config.example used as template

[default]
# 'default' is special, it is used if no other policy matches a channel
strategy = static
#zerobasefee for Pickhardt Payments
base_fee_msat = 0
fee_ppm = 50

[mydefaults]
# no strategy, so this only sets some defaults
base_fee_msat = 0
min_fee_ppm_delta = 50


[beginner-node]
# set lower fees on channels with smaller peers, that have few channels (4-8 channels) total
# and limited node size (max_capacity=1_000_000)
node.max_capacity = 1_000_000
strategy = static
fee_ppm = 1

[encourage-routing]
# 'autobalance' (lower fees so using outbound is more attractive) larger channels (min_capacity 2M sats)
# to larger nodes (node has at least 50M sats) if balance ratio >= 0.9 (more than 90% on our side)
chan.min_ratio = 0.9
chan.min_capacity =  2_000_000
node.min_capacity = 50_000_000

strategy = static
fee_ppm = 5

[discourage-routing]
# 'autobalance' (higher fees so using outbound is less attractive) larger channels (min_capacity 2M sats)
# to larger nodes (node has at least 50M sats) if balance ratio <= 0.2 (less than 20% on our side)
chan.max_ratio = 0.2
chan.min_capacity =  2_000_000
node.min_capacity = 50_000_000

strategy = static
fee_ppm = 800

[proportional]
# 'proportional' can also be used to auto balance (lower fee rate when low remote balance & higher rate when higher remote balance)
# fee_ppm decreases linearly with the channel balance ratio (min_fee_ppm when ratio is 1, max_fee_ppm when ratio is 0)
chan.min_ratio = 0.2
chan.max_ratio = 0.9
chan.min_capacity = 2_000_000

strategy = proportional
min_fee_ppm = 10
max_fee_ppm = 300


